{% extends 'frontt.html.twig' %}

{% block title %}Edit Interest{% endblock %}

{% block body %}
    <h1>Edit Interest</h1>

    {{ include('interest/_form.html.twig', {'button_label': 'Update'}) }}


{% endblock %}
