{% extends 'frontt.html.twig' %}

{% block title %}New Interest{% endblock %}

{% block body %}
    <h4 style="text-align: center !important;">Interest à :</h4><br><br>

    {{ include('interest/_form.html.twig') }}

{% endblock %}
