<h1>Interest index</h1>

<table class="table">
    <thead>
    <tr>
        <th>Client 1</th>
        <th>Client 2</th>
    </tr>
    </thead>
    <tbody>
    {% for matching in matching %}
        <tr>
            <td>{{ matching.client1.nom }}</td>
            <td>{{ matching.client2.nom }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>