<form method="post" action="{{ path('app_commentaire_delete', {'idcomm': commentaire.idcomm}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commentaire.idcomm) }}">
    <button  class="form-control btn btn-danger btn-xs px-3">Delete</button>
</form>
