{% extends 'back.html.twig' %}

{% block title %}Dating index{% endblock %}

{% block body %}
    <h1>Dating index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdDate</th>
                <th>Discount</th>
            </tr>
        </thead>
        <tbody>
        {% for dating in datings %}
            <tr>
                <td>{{ dating.idDate }}</td>
                <td>{{ dating.discount }}</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
